@import "tailwindcss";

:root {
  --font-heading: "Playfair Display", serif;
  --font-body: "Libre Baskerville", serif;
  --font-mono: "Geist Mono", monospace;
}

h1 {
  font-family: var(--font-heading);
}

.titleproject {
  font-family: var(--font-body)
}